@import url("https://fonts.googleapis.com/css?family=Audiowide|Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* Genural */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

:root {
    --aw: "Audiowide", sans-serif;
    --bg-b: rgb(30, 30, 30);
    --txt-wht: rgb(231, 229, 229);
    --key: rgb(223, 222, 222);
    --value: rgb(179, 179, 179);
    --blue: rgb(3, 13, 255);
}


section {
    /* min-height: 100vh; */
    background-color: var(--bg-b);
}

nav {
    display: flex;
    align-items: center;
    min-height: 14vh;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mx {
    margin-left: auto;
    margin-right: auto;
}

.center-block-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wht {
    color: var(--txt-wht);
}

.aw {
    font-family: var(--aw);
}

.key {
    color: var(--key);
}

.value {
    color: var(--value);
}

.bg-bk {
    background-color: var(--bg-b);
}

.the-blue {
    background-color: var(--blue);
}

/* Nav Bar */
.nav-a {
    color: var(--txt-wht);
    text-decoration: none;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-left: auto;
}

.nav-links a {
    color: var(--txt-wht);
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links li {
    list-style: none;
}

.nav-links-btm {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-links-btm a {
    color: var(--txt-wht);
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links-btm li {
    list-style: none;
}

#top-nav {
    display: none;
}

.logo {
    display: block;
}

.logo-bg {
    position: absolute;
    background-color: var(--blue);
    top: 10px;
    left: 10px;
    width: 150px;
    min-height: 12vh;
    z-index: 10;
}

.logo-name {
    position: absolute;
    font-family: var(--aw);
    color: var(--txt-wht);
    font-size: 3rem;
    top: 20px;
    left: 38px;
    z-index: 11;

}

.logo-last {
    position: absolute;
    color: var(--blue);
    font-size: 3rem;
    top: 3px;
    left: 200px;
    z-index: 11;
    text-shadow: 1px -1px white;
}


.mobile-logo {
    background-color: var(--bg-b);
    position: absolute;
    top: 0px;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
}

/* Home */
.home {
    height: 70vh;
    color: var(--txt-wht);
}

.shadow-container {
    background-color: var(--bg-b);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: -10px -10px 10px rgba(114, 114, 114, 0.2),
        10px 10px 10px rgb(0, 0, 0, 0.1);
}

/* About */
#about {
    height: fit-content;
}

@media (max-width: 400px) {
    .logo-name {
        font-size: 2.5rem;
    }

    .logo-last {
        font-size: 2.5rem;
        left: 166px
    }
}

/* Products */
.pro-heading {
    transform: skewY(-10deg);
}

.products-container {
    position: relative;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: skewY(-10deg);
}

.products-container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: var(--txt-wht);
    transition: 0.5s;
}

.products-container .card:hover {
    transform: translateY(-40px);
}

.products-container .card:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: #2848fa;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

.products-container .card:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 50%;
    background: #2040f7;
    border-bottom: 200px solid #d9d9d9;
    transform-origin: left;
    transform: skewY(45deg);
    transition: 0.5s;
}

.products-container .card .imgbx {
    position: relative;
    width: 300px;
    height: 200px;
    background: #0025f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-container .card .imgbx img {
    max-width: 100px;
}

.products-container .card .imgbx h3 {
    position: relative;
    color: #fff;
    margin-top: 10px;
}

.products-container .card .content {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px;
    background: #fff;
    color: #777;
    text-align: center;
}

.products-container .card .content:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, .1));
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
}

.products-container .card:hover .content:before {
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: 0.5;
}

.products-container .card:nth-child(1) {
    z-index: 1;
}

.products-container .card:nth-child(2) {
    z-index: 2;
}

.products-container .card:nth-child(1) {
    z-index: 3;
}

/* Nav Bar media  */
@media (min-width: 768px) {
    #top-nav {
        display: flex;
    }

    #btm-nav {
        display: none;
    }

    .mobile-logo {
        display: none;
    }

    .logo-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    #btm-nav {
        display: flex;
        position: fixed;
        bottom: 2vh;
        width: 100%;
    }


}