@import url("https://fonts.googleapis.com/css?family=Audiowide|Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* Genural */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

section {
    /* min-height: 100vh; */
    background-color: #1e1e1e;
}

nav {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    min-height: 14vh;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-block-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wht {
    color: rgb(231, 229, 229);
}

.aw {
    font-family: "Audiowide", sans-serif;
}

.exo {
    font-family: "Roboto", sans-serif;
}

.key {
    color: rgb(223, 222, 222);
}

.value {
    color: rgb(179, 179, 179);
}

.bg-bk {
    background-color: #1e1e1e;
}

.the-blue {
    background-color: #030dff;
}

/* Nav Bar */
.nav-a {
    color: rgb(231, 229, 229);
    text-decoration: none;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-left: auto;
}

.nav-links a {
    color: rgb(231, 229, 229);
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links li {
    list-style: none;
}

.nav-links-btm {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-links-btm a {
    color: rgb(231, 229, 229);
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links-btm li {
    list-style: none;
}

#top-nav {
    display: none;
}

.logo {
    display: block;
}

.mobile-logo {
    background-color: #1e1e1e;
    position: relative;
    top: 0px;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
}

/* Home */
.home {
    height: 70vh;
    color: rgb(223, 222, 222);
}

.shadow-container {
    background-color: #1e1e1e;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: -10px -10px 10px rgba(114, 114, 114, 0.2),
        10px 10px 10px rgb(0, 0, 0, 0.1);
}

/* About */
#about {
    height: fit-content;
}

/* Nav Bar media  */
@media (min-width: 768px) {
    #top-nav {
        display: flex;
    }

    #btm-nav {
        display: none;
    }

    .mobile-logo {
        display: none;
    }
}

@media (max-width: 767px) {
    #btm-nav {
        display: flex;
        position: fixed;
        bottom: 2vh;
        width: 100%;
    }
}